* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* SOL MENÜ */
.sidebar {
    width: 240px;
    background-color: #7b5cff;
    /* açık mor */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

nav ul {
    list-style: none;
}

nav ul li {
    padding: 12px 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 6px;
    transition: background-color 0.3s;
}

nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* TARİH SAAT */
.datetime {
    font-size: 13px;
    opacity: 0.9;
}

/* SAĞ TARAF */
.content {
    flex: 1;
    background-color: #ffffff;
    padding: 40px;
}

.content h1 {
    margin-bottom: 10px;
}