* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

/* SOL MENÜ */
.sidebar {
    width: 250px;
    background-color: #4b2ea8;
    /* daha koyu mor */
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.logo {
    font-size: 26px;
    font-weight: 800;
    margin-bottom: 40px;
}

/* MENÜ */
nav ul {
    list-style: none;
}

nav ul li {
    padding: 14px 16px;
    margin-bottom: 14px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.15);
    transition: all 0.25s ease;
}

nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateX(4px);
}

/* TARİH SAAT */
.datetime {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.4;
    opacity: 0.95;
}

/* SAĞ TARAF */
.content {
    flex: 1;
    background-color: #ffffff;
    padding: 40px;
}

.content h1 {
    margin-bottom: 10px;
}